<!-- Footer -->
<footer>
<div class="footer">
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
      <div class="dropdown center">
      <button class="btn dropdown-toggle btn-default btn-md" type="button" id="dropdownMenu1" data-toggle="dropdown">English    <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Espanol</a></li>
        </ul>
      </div>
      </br>
    </div>
    
    <div class="col-md-offset-8 col-md-2">
      <div class="social-icon center">
      <p>
      <a href="https://www.facebook.com/ossedc" target="_blank"><%= image_tag('facebook-icon.svg') %></a>
      <a href="https://www.twitter.com/ossedc" target="_blank"><%= image_tag('Twitter-Icon.svg') %></a>
      </p>
      </div>
    </div>
    
    </div>
</div>
</div>
</footer>